# Maps Kevin's data onto reactome pathways

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import os
import glob
import json

import pylab as plt
import matplotlib
from IPython.display import display, HTML

import numpy as np
from scipy.sparse import lil_matrix
import pandas as pd
from pandas import HDFStore

import seaborn as sns
from IPython.display import display
    
from collections import defaultdict

from ipywidgets import FloatProgress

%matplotlib inline

In [5]:
import sys
sys.path.append('../linker')

from reactome import *

## Load data

In [6]:
def load_json(infile):
    with open(infile) as json_data:
        d = json.load(json_data)
        return d

In [7]:
base_dir = '../static/data/'
genes_df = pd.read_json(base_dir + 'genes_json.json')
proteins_df = pd.read_json(base_dir + 'proteins_json.json')
compounds_df = pd.read_json(base_dir + 'compounds_json.json')
reactions_df = pd.read_json(base_dir + 'reactions_json.json')
pathway_df = pd.read_json(base_dir + 'pathways_json.json')

gene_proteins_df = pd.read_json(base_dir + 'gene_proteins_json.json')
protein_reactions_df = pd.read_json(base_dir + 'protein_reactions_json.json')
compound_reactions_df = pd.read_json(base_dir + 'compound_reactions_json.json')
reaction_pathways_df = pd.read_json(base_dir + 'reaction_pathways_json.json')

### Number of known enzymes and compounds per reactions

In [66]:
merged_df = pd.merge(protein_reactions_df, compound_reactions_df, on='reaction_pk', how='outer')
display(merged_df.head())

count_df1 = merged_df.groupby(['reaction_pk'])['protein_pk'].size().reset_index()
count_df1 = count_df1.rename({'protein_pk': 'E'}, axis='columns')
display(count_df1.head())

count_df2 = merged_df.groupby(['reaction_pk'])['compound_pk'].size().reset_index()
count_df2 = count_df2.rename({'compound_pk': 'C'}, axis='columns')
display(count_df2.head())

  protein_pk   reaction_pk compound_pk
0     Q99N16  R-MMU-211904       16474
1     Q99N16  R-MMU-211904       15843
2     Q99N16  R-MMU-211904       15378
3     Q99N16  R-MMU-211904       15379
4     Q99N16  R-MMU-211904       63590

    reaction_pk   E
0             -   4
1  R-MMU-109278  11
2  R-MMU-109291   9
3  R-MMU-109380  14
4  R-MMU-109387  16

    reaction_pk   C
0             -   4
1  R-MMU-109278  11
2  R-MMU-109291   9
3  R-MMU-109380  14
4  R-MMU-109387  16

In [63]:
count_df = pd.merge(count_df1, count_df2, on='reaction_pk', how='outer')
display(count_df)

       reaction_pk  protein_hits  compound_hits
0                -             1              1
1     R-MMU-109278             1             11
2     R-MMU-109291             1              9
3     R-MMU-109380             1             14
4     R-MMU-109387             1             16
5     R-MMU-109415             1              5
6     R-MMU-109449             1             13
7     R-MMU-109624             1              7
8     R-MMU-109903             1              6
9     R-MMU-110137             4              9
10    R-MMU-110138             4              9
11    R-MMU-110141             1              5
12    R-MMU-110144             1              3
13    R-MMU-110145             1              3
14    R-MMU-111285             2              5
15    R-MMU-111746             1              2
16    R-MMU-111925             9              1
17    R-MMU-112033             2              6
18    R-MMU-112034             2              6
19   R-MMU-1237160             1              4
20   R-MMU-1247922             1              3
21   R-MMU-1483096             1              5
22   R-MMU-1483174             1              4
23   R-MMU-1483190             1              4
24   R-MMU-1483222             4              4
25   R-MMU-1497784             3              6
26   R-MMU-1497796             3              7
27   R-MMU-1497810             3             11
28    R-MMU-159425             1              9
29    R-MMU-159443             2              6
..             ...           ...            ...
214    R-MMU-73794             2              6
215    R-MMU-73828             1              3
216    R-MMU-74213             1              4
217    R-MMU-74215             1              7
218    R-MMU-74220             1              5
219    R-MMU-74242             2              6
220    R-MMU-74247             1              7
221    R-MMU-74249             2              6
222    R-MMU-74255             1              5
223    R-MMU-75885            14              4
224    R-MMU-76590             3              4
225  R-MMU-8851356             1             12
226  R-MMU-8869425             1              4
227  R-MMU-8870346             2              5
228  R-MMU-8870499             3              1
229  R-MMU-8875071             1              6
230  R-MMU-8932633             3              4
231   R-MMU-893583             1              4
232   R-MMU-893596             1              7
233  R-MMU-8938073             4              4
234  R-MMU-8938076             1              5
235  R-MMU-8938300             1              3
236  R-MMU-8943279             1              4
237  R-MMU-8953339             1              4
238  R-MMU-8953499             1              6
239  R-MMU-8954327             1              6
240  R-MMU-8959510             1              7
241   R-MMU-947531             1              8
242   R-MMU-947538             6              4
243   R-MMU-964962             1              5

[244 rows x 3 columns]

### Number of known enzymes per pathway

In [18]:
reaction_pathways_df.head()

      pathway_pk    reaction_pk
0   R-MMU-211935   R-MMU-211904
1  R-MMU-6799198  R-MMU-6799202
2   R-MMU-193775   R-MMU-193727
3   R-MMU-196783   R-MMU-196754
4  R-MMU-6799198  R-MMU-6800868

In [19]:
protein_reactions_df.head()

  protein_pk   reaction_pk
0     Q99N16  R-MMU-211904
1     G3UW81  R-MMU-211904
2     Q9EP75  R-MMU-211904
3     Q99N18  R-MMU-211904
4     Q8VCA4  R-MMU-211904

In [75]:
merged_df = pd.merge(reaction_pathways_df, protein_reactions_df, on='reaction_pk', how='inner')
# merged_df = merged_df[merged_df['protein_pk'].isin(known_protein_ids)]

count_df = merged_df.groupby(['pathway_pk'])['protein_pk'].size().reset_index()
count_df = count_df.rename({'protein_pk': 'enzyme_count'}, axis='columns')

display(count_df)

        pathway_pk  enzyme_count
0                -             2
1    R-MMU-1237112             2
2    R-MMU-1474151             3
3    R-MMU-1482801             1
4    R-MMU-1483166            14
5    R-MMU-1483191             2
6    R-MMU-1483213             7
7     R-MMU-156581             2
8     R-MMU-156584            23
9     R-MMU-156590            19
10    R-MMU-159418             1
11   R-MMU-1614517             1
12   R-MMU-1614635             1
13    R-MMU-163210            60
14    R-MMU-163680             3
15    R-MMU-164378             9
16   R-MMU-1655829            11
17   R-MMU-1660499            21
18   R-MMU-1660514             2
19   R-MMU-1660661             4
20   R-MMU-1660662            10
21    R-MMU-170822            38
22    R-MMU-173599             1
23    R-MMU-174403             5
24    R-MMU-177128             1
25    R-MMU-177135             2
26    R-MMU-177162             2
27   R-MMU-1855183             9
28   R-MMU-1855204            12
29    R-MMU-189483             2
..             ...           ...
74    R-MMU-611105            57
75   R-MMU-6798163             2
76   R-MMU-6799198           295
77     R-MMU-70171             9
78     R-MMU-70221             2
79     R-MMU-70263             2
80     R-MMU-70268            14
81     R-MMU-70614             5
82     R-MMU-70635             6
83     R-MMU-70688             1
84     R-MMU-70895            17
85     R-MMU-70921             1
86     R-MMU-71182             1
87     R-MMU-71240             4
88     R-MMU-71288             3
89     R-MMU-71384             2
90     R-MMU-71403             8
91     R-MMU-73614             6
92     R-MMU-73621             4
93     R-MMU-73817             6
94     R-MMU-73843             1
95     R-MMU-74217            12
96     R-MMU-74259            11
97     R-MMU-75876             8
98     R-MMU-77111             2
99     R-MMU-77289             1
100  R-MMU-8850843             1
101   R-MMU-947581             7
102   R-MMU-964975             1
103   R-MMU-975634            73

[104 rows x 2 columns]

In [56]:
count_df

### Hypergeometric test

In [ ]:
pw_f, pathway_id_to_name = get_all_pathways_formulae(species)

In [ ]:
detected = set(peak_df[['formula']].values.flatten())
print(detected, len(detected))

In [ ]:
data = []
for pathway_id in pw_f:
    
    pathway_name = pathway_id_to_name[pathway_id]
    
    formulae = pw_f[pathway_id]
    formulae_count = len(formulae)
    formulae_str = ','.join(sorted(formulae))
    
    detected_f = set([x for x in formulae if x in detected])
    detected_count = len(detected_f)
    detected_str = ','.join(sorted(detected_f))
    
    row = [pathway_id, pathway_name, formulae_str, formulae_count, detected_str, detected_count]
    data.append(row)
    
all_pathway_df = pd.DataFrame(data, columns=[
    'pathway_id', 'pathway_name', 
    'formula', 'formula_count',
    'detected', 'detected_count'])
all_pathway_df.set_index('pathway_id', drop=True, inplace=True)

Compute hypergeometric p-values

In [ ]:
from scipy.stats import hypergeom

In [ ]:
# M = the number of unique formula in all pathways in Reactome
M = len(set(','.join(all_pathway_df['formula'].values).split(',')))

# N = the number of unique formula in all pathways in the dataset
N = len(set(','.join(all_pathway_df['detected'].values).split(',')))

SMOOTHING = 1

data = []
for idx, row in all_pathway_df.iterrows():
        
    # k = the number of unique formula in the pathway of interest in the dataset
    k = row['detected_count']
    
    # n = the number of unique formula in the pathway of interest
    n = row['formula_count'] + SMOOTHING
        
    p_value = hypergeom.sf(k, M, n, N)
    assert p_value > 0
    new_row = [idx, p_value]
    data.append(new_row)

p_value_df = pd.DataFrame(data, columns=[
    'pathway_id', 'p_value'])
p_value_df.set_index('pathway_id', drop=True, inplace=True)

In [ ]:
combined = pd.concat([all_pathway_df, p_value_df], axis=1)
combined = combined.sort_values(by='p_value', ascending=True).reset_index(drop=True)
display(combined)
combined.to_csv('pathway_df.csv', index=False, encoding='utf-8')